.App {
  text-align: center;
  background: linear-gradient(rgb(118, 211, 235),rgb(245, 243, 243),rgb(218, 131, 131),
  rgb(221, 105, 105),rgb(204, 197, 197),rgb(180, 178, 178));
  height: 100vh;
}

.heading{
  font-size: 39px;
  font-weight: 700;
}

